.uploadfiles .customradius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25%;
  }
  .uploadfiles .custominput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 75%;
  }
  .uploadfiles .dropcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 270px;
    background-color: aliceblue;
    border: 1px dashed #757575;
    border-radius: 10px;
  }
  
  .uploadfiles .dropcontainer .text_gray {
    color: #757575;
    font-weight: 500;
  }
  .upload_wrapper {
    border-radius: 16px;
    padding: 20px;
    background: #fff;
    margin: 35px;
}
.upload_head {
    text-align: center;
    border-bottom: 1px solid rgba(197, 197, 211, 1);
    padding-bottom: 30px;
}
.border-bottom{
    border-bottom: 1px solid rgba(197, 197, 211, 1);
}
.upload_head h3 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}
.file_status {
    text-align: center;
    padding:30px 0px;
}

.file_status h5 {
    font-size: 20px;
    margin: 0px;
    font-weight: 700;
}
.browse_file {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(197, 197, 211, 1);
    margin-bottom: 15px;
}
.browse_file {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(197, 197, 211, 1);
    margin-bottom: 15px;
}

.browse_file label {
    position: relative;
    border: 1px solid rgba(228, 228, 228, 0.6);
    width: 100%;
    display: block;
    padding: 15px 20px;
    color: rgba(23, 23, 23, 0.5);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
}

.browse_file label span {
    position: absolute;
    right: -1px;
    top: 0px;
    bottom: -1px;
    background: rgba(0, 106, 255, 1);
    color: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 16px 32px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
}
.drag_drop_area {
    display: flex;
    background: rgba(229, 240, 255, 1);
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    border: 1px dashed rgba(168, 168, 189, 1);
}
.drag_drop_area label{
    font-size: 24px;
    font-weight: 700;
    color: rgba(168, 168, 189, 1);
    margin-top: 20px;
}
.upload_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upload_bottom .btn_group button.cancel_btn {
    background: rgba(22, 22, 29, 1);
}

.upload_bottom .btn_group button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.upload_bottom .btn_group button.disable {
    opacity: 0.5;
}

.upload_bottom .btn_group button.next_btn {
    background: rgba(0, 106, 255, 1);
    width: 180px;
    margin-left: 20px;
}
.loading_file_bar{
    min-height: 200px;
    position: relative;
    padding-right: 35px;
}


.bar_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bar_text h5{
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}
.bar_text h5 span{
  color: rgba(168, 168, 189, 1);
  margin-left: 10px;
}
.loading_file_bar progress{
    width: 100%;
}
span.delete_x {
    position: absolute;
    right: 0px;
    top: 14px;
    cursor: pointer;
}
.file_status p {
    max-width: 500px;
    margin: auto;
    padding-top: 15px;
}
.upload_bottom p {
    color: rgba(168, 168, 189, 1);
}
.justify-content-end{
    justify-content: end  !important;
}
.imported_container{
    padding-top: 15px;
}
.import_col_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
span.imported {
    font-size: 16px;
    color: rgba(22, 22, 29, 1);
    padding: 10px;
    margin-right: 10px;
    background: rgba(168, 168, 189, 1);
    display: inline-block;
}

.import_col_row .left_col select {
    padding: 10px;
    border: 1px solid rgba(23, 23, 23, 0.05);
    color: rgba(23, 23, 23, 1);
    border-radius: 5px;
}
select.disable {
    color: rgba(23, 23, 23, 0.5) !important;
}
.import_col_row .right_col span.sample {
    font-weight: 400;
    color: rgba(22, 22, 29, 1);
    font-size: 16px;
}
.radio_btn_conatiner{
    padding-top: 30px;
    min-height: 200px;
}
.radio_row{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 31.5px;
}
.radio_row input{
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid rgba(168, 168, 189, 1);
    border-radius: 50%;
    background-color: transparent;
}
.radio_row input:checked{
    background-color: rgba(22, 22, 29, 1);
}
.radio_row label{
    font-size: 14px;
    color: rgba(22, 22, 29, 1);
}
.records_container{
    padding: 35px 0px;
    text-align: center;
}
.records_container p {
    font-size: 14px;
    margin-bottom: 30px;
}
.upload_wrapper {
  border-radius: 16px;
  padding: 20px;
  background: #fff;
  margin: 35px;
}
.upload_head {
  text-align: center;
  border-bottom: 1px solid rgba(197, 197, 211, 1);
  padding-bottom: 30px;
}
.border-bottom{
  border-bottom: 1px solid rgba(197, 197, 211, 1);
}
.upload_head h3 {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}
.file_status {
  text-align: center;
  padding:30px 0px;
}

.file_status h5 {
  font-size: 20px;
  margin: 0px;
  font-weight: 700;
}
.browse_file {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(197, 197, 211, 1);
  margin-bottom: 15px;
}
.browse_file {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(197, 197, 211, 1);
  margin-bottom: 15px;
}

.browse_file label {
  position: relative;
  border: 1px solid rgba(228, 228, 228, 0.6);
  width: 100%;
  display: block;
  padding: 15px 20px;
  color: rgba(23, 23, 23, 0.5);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
}

.browse_file label span {
  position: absolute;
  right: -1px;
  top: 0px;
  bottom: -1px;
  background: rgba(0, 106, 255, 1);
  color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 16px 32px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
}
.drag_drop_area {
  display: flex;
  background: rgba(229, 240, 255, 1);
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  border: 1px dashed rgba(168, 168, 189, 1);
}
.drag_drop_area label{
  font-size: 24px;
  font-weight: 700;
  color: rgba(168, 168, 189, 1);
  margin-top: 20px;
}
.upload_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload_bottom .btn_group button.cancel_btn {
  background: rgba(22, 22, 29, 1);
}

.upload_bottom .btn_group button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.upload_bottom .btn_group button.disable {
  opacity: 0.5;
}

.upload_bottom .btn_group button.next_btn {
  background: rgba(0, 106, 255, 1);
  width: 180px;
  margin-left: 20px;
}
.loading_file_bar{
  min-height: 200px;
  position: relative;
  padding-right: 35px;
}


.bar_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar_text h5{
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
}
.bar_text h5 span{
color: rgba(168, 168, 189, 1);
margin-left: 10px;
}
.loading_file_bar progress{
  width: 100%;
}
span.delete_x {
  position: absolute;
  right: 0px;
  top: 14px;
  cursor: pointer;
}
.file_status p {
  max-width: 500px;
  margin: auto;
  padding-top: 15px;
}
.upload_bottom p {
  color: rgba(168, 168, 189, 1);
}
.justify-content-end{
  justify-content: end  !important;
}
.imported_container{
  padding-top: 15px;
}
.import_col_row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
span.imported {
  font-size: 16px;
  color: rgba(22, 22, 29, 1);
  padding: 10px;
  margin-right: 10px;
  background: rgba(168, 168, 189, 1);
  display: inline-block;
}

.import_col_row .left_col select {
  padding: 10px;
  border: 1px solid rgba(23, 23, 23, 0.05);
  color: rgba(23, 23, 23, 1);
  border-radius: 5px;
}
select.disable {
  color: rgba(23, 23, 23, 0.5) !important;
}
.import_col_row .right_col span.sample {
  font-weight: 400;
  color: rgba(22, 22, 29, 1);
  font-size: 16px;
}
.radio_btn_conatiner{
  padding-top: 30px;
  min-height: 200px;
}
.radio_row{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 31.5px;
}
.radio_row input{
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid rgba(168, 168, 189, 1);
  border-radius: 50%;
  background-color: transparent;
}
.radio_row input:checked{
  background-color: rgba(22, 22, 29, 1);
}
.radio_row label{
  font-size: 14px;
  color: rgba(22, 22, 29, 1);
}
.records_container{
  padding: 35px 0px;
  text-align: center;
}
.records_container p {
  font-size: 14px;
  margin-bottom: 30px;
}