.detailedincidentreportsummary hr {
  border: 1px solid !important;
}

.detailedincidentreportsummary .customcontinuebutton {
  background-color: #047835;
  border: none;
  width: 100%;
}

.detailedincidentreportsummary .quickheading {
  line-height: 27px !important;
  text-align: center;
}

.detailedincidentreportsummary .equipment_incident {
  background-color: #047835;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  color: white;
}
.detailedincidentreportsummary .button_custom {
  background-color: #a1d55d;
  border: none;
}

.detailedincidentreportsummary .customcenterback {
  background-color: #0478352b;
}
