.detailedReportSummary .customcontinueonebutton {
  background-color: #a1d55d !important;
  border: none;
}
.detailedReportSummary .customselectbox {
  /* padding: 18px !important; */
  color: gray;
}
