.detailedreportfilleditem .customselectbox {
  /* padding: 18px !important; */
  color: gray;
}

.detailedreportfilleditem input {
  /* padding: 18px !important; */
  color: gray;
}

.detailedreportfilleditem .customcontinueonebutton {
  background-color: #a1d55d !important;
  border: none;
}

.detailedreportfilleditem .equipment_incident {
  background-color: #047835;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  color: white;
}

.detailedreportfilleditem .customcenterback {
  background-color: #0478352b;
}

div#reader__header_message {
  position: absolute;
  top: -27px;
}
h5.quickheading.mb-3.letter_spacing.fw-bold {
  font-size: 14px !important;
  letter-spacing: 0px !important;
  padding-bottom: 20px;
}
div#reader button#html5-qrcode-button-camera-permission {
  border: 0px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
