.box {
    background-color: #E5F0FF;

}

.smallText {
    font-size: 13px;
    
}
.recommended_logo{
    padding: 50px 35px;
}
.recommended_logo p{
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: -0.011em;
text-align: center;
margin-bottom: 0px;
color: #A8A8BD;
}
.edit_btn {
    padding-top: 15px;
}
.business_block ul.slick-dots {
    opacity: 0;
}
.phn_input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.phn_input .phoneinput {
    width: 125px !important;
}