.quicklayoutwrapper {
  background-color: #ffff;
}

.quicklayoutwrapper .maincontent {
  padding-top: 40px;
  padding-bottom: 40px;
}

.quicklayoutwrapper .letter_spacing {
  letter-spacing: 1px;
}

.quicklayoutwrapper .form_input_validation_error {
  margin-top: 5px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
}
