.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .success-message {
    background-color: rgb(4, 120, 53);    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideInDown 0.5s ease forwards;
  }
  
  .success-icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .success-text {
    vertical-align: middle;
  }
  
  @keyframes slideInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  