/* DateTimePicker.css */

/* Container for the date picker */
.date-picker-container {
  display: inline-block;
}

/* Custom styles for the date picker */
.custom-datepicker {
  font-family: Arial, sans-serif;
  color: #333;
  border: none; /* Remove default border */
  border-radius: 50px; /* Make it round */
  padding: 10px;
  cursor: pointer;
  outline: none; /* Remove default outline */
  background-color: #f0f0f0; /* Background color */
}

/* Styling for the date picker dropdown */
.react-datepicker {
  font-size: 14px;
}

/* Styling for the date picker header */
.react-datepicker__header {
  background-color: #0066cc;
  color: #fff;
}

/* Styling for the selected date in the date picker */
.react-datepicker__day--selected {
  background-color: #0066cc;
  color: #fff;
}

/* Styling for the time input field */
.react-datepicker__time-container input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the time select dropdown */
.react-datepicker__time-list {
  font-size: 14px;
}

.span_calandar {
  position: relative;
  right: 8px;
}
