.creategroupreport .closebuttonspan {
  position: absolute;
  right: 3px;
  bottom: 22px;
  background-color: white;
}

.creategroupreport .customsavebuttonwidth {
  width: 302px !important;
}

.creategroupreport .name_listing li {
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s linear;
}

.creategroupreport .name_listing li:hover {
  color: rgb(191, 129, 47);
}
