/* .date_picker{
  display: flex;
}
.date_picker button{
  height: 30px;
}
.date_picker .year_section {
  width: 160px !important;
}
.month_section .MuiPickersMonth-root {
  flex-basis: 100%;
}
.month_section {
  width: 150px !important;
} */
td {
  vertical-align: middle;
}