.custom-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
    padding: 0px 35px;
  }
  
  .page-indicator {
    display: flex;
    gap: 5px;
  }
  
  .page-number {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #ccc; /* Default grey color */
  }
  
  .page-number.selected {
    background-color: #E5F0FF; 
    color:#006AFF/* Selected color */
  }