.detailedReportPageOne .quickheading {
  line-height: 27px !important;
  text-align: center;
}

.detailedReportPageOne .customcontinuebutton {
  background-color: #047835;
  border: none;
  width: 100%;
}

.detailedReportPageOne .button_custom {
  background-color: #a1d55d;
  border: none;
}

.detailedReportPageOne hr {
  margin-top: 40px;
  border: 1px solid !important;
}

.detailedReportPageOne .customselectbox {
  /* padding: 18px !important; */
  color: gray;
}

.detailedReportPageOne .phone_inputcountrycode input {
  width: 100%;
}

.detailedReportPageOne .react-tel-input .form-control {
  height: 50px !important;
}
