.multifile .cancelbutton {
  width: 150px !important;
}

.multifile .nextbutton {
  width: 220px !important;
}

.multifile .renderstep {
  min-height: 400px !important;
}

.multifile .customradius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 25%;
}
.multifile .custominput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 75%;
}

.multifile .dropcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 270px;
  background-color: aliceblue;
  border: 1px dashed #757575;
  border-radius: 10px;
}

.multifile .dropcontainer .text_gray {
  color: #757575;
  font-weight: 500;
}

.multifile .importedcolumn {
  background-color: rgb(170, 170, 209);
  padding: 15px;
  width: 40%;
  margin-right: 10px;
  font-weight: 600;
}

.multifile .importedcolumnselect {
  width: 200px !important;
  padding: 18px !important;
}

.multifile .customradio {
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 40px;
  cursor: pointer;
}

.multifile .customradiolabel {
  font-size: 20px;
}

.multifile .active {
  background-color: #000;
}
