@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif !important;
  background-color: #f1f1f4 !important;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
}
select#yearSelect {
  color: #c5c5d3;
}
.sidebar {
  /* background: #333; */
  color: black;
  background-color: white;
  height: 100%;
  padding: 20px;
}
.content_block {
  min-height: 65vh;
  border-radius: 16px;
}
.sidebar h2 {
  margin-bottom: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a {
  color: black;
  text-decoration: none;
}
.main_container {
  margin-left: 230px;
  /* padding:0px 20px 20px 20px; */
}
/* App.css */
.card_title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}
.wrapper {
  display: flex;
}
.sidebar {
  /* Add styles for the sidebar */
  flex: 0 0 auto; /* Sidebar won't grow or shrink */
  width: 250px; /* Adjust width as needed */
}
.main_container {
  /* Add styles for the content area */
  flex: 1; /* Content will grow to fill the remaining space */
}

.datatableSearch .search input {
  border-radius: 12px;
  padding: 14px 20px 14px 54px !important;
  width: 100%;
  border: 1px solid #f1f1f4;
  font-size: 14px;
  letter-spacing: 0em;
  background-color: #f1f1f4;
}
.datatableSearch .search input::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.datatableSearch .search {
  display: flex;
  align-items: center;
  width: 35%;
  position: relative;
}
.datatableSearch .search .search-icon {
  font-size: 20px;
  color: #aaa;
  position: absolute;
  left: 22px;
}
/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.sidebar {
  /* background: #333; */
  color: black;
  height: 100%;
  padding: 20px;
}
.sidebar h2 {
  margin-bottom: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a {
  color: black;
  text-decoration: none;
}
.main_container {
  margin-left: 250px;
  /* padding:0px 20px 20px 20px; */
}
/* App.css */
.wrapper {
  display: flex;
}
.sidebar {
  /* Add styles for the sidebar */
  flex: 0 0 auto; /* Sidebar won't grow or shrink */
  width: 250px; /* Adjust width as needed */
}
.main_container {
  width: calc(100% - 250px);
}
/* common css */
.input_style,
.textarea_style,
.form_style input,
.form_style select.PhoneInputCountrySelect,
select {
  padding: 15px 20px;
  font-size: 14px;
  letter-spacing: -0.011em;
  width: 100%;
  border: 1px solid #e4e4e4;
}
.form_style .form-group {
  margin-bottom: 15px;
}
.checkboxes input.form-check-input {
  appearance: none;
  background: #e4e4e4;
  width: 24px;
  height: 24px;
}
.checkboxes label.form-check-label {
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.011em;
  margin-left: 7px;
}
.checkboxes input.form-check-input:checked {
  background: #0d6efd;
}
.btn.icon-button:focus-visible,
.btn.icon-button:active {
  border: 0px !important;
  outline: 0px !important;
  background-color: #fff !important;
  box-shadow: unset !important;
}
.business_block h4.text-center {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c5c5d3;
}
.notification-card div p {
  font-size: 12px;
  color: #16161d;
  line-height: 25px;
}
.business_input {
  display: flex !important;
}
.business_input input.PhoneInputInput {
  border: 0px;
}
input.PhoneInputInput:focus {
  outline: 0px;
}
/* table css */
.rdt_TableHeadRow,
.rdt_TableRow {
  padding: 15px;
  padding-left: 0px !important;
  cursor: pointer;
}
img.products-image {
  width: 53px;
  border-radius: 50%;
  height: 53px;
  margin-right: 5px;
  object-fit: cover;
}
.rdt_TableHeadRow .lnOUep {
  font-size: 16px;
  font-weight: 400;
  color: #a8a8bd;
}
.registered_table .rdt_TableCell,
.registered_table .rdt_TableCol {
  justify-content: center;
}
.rdt_TableCell:first-child,
.rdt_TableCol:first-child {
  padding-left: 0px;
  /* min-width: auto !important; */
  flex-grow: inherit;
}
.dashbaord_table .rdt_TableCell:first-child,
.dashbaord_table .rdt_TableCol:first-child {
  min-width: 235px !important;
}
/* ---- */
body .button-text,
.icon-button h3 {
  flex: 1;
}
.icon-button {
  width: 100%;
}
.fWilUa div span.m-1.badge.bg-success,
.registered_table div#cell-7-1 .badge.bg-success {
  background: #d9f2dd !important;
  color: #359742;
}
.fWilUa div span.m-1.badge.bg-warning,
.registered_table div#cell-7-1 .badge.bg-warning {
  background: #fff5cc !important;
  color: #cca300;
}
.registered_table div#cell-7-1 span {
  width: 100px;
}
.fWilUa div span.m-1.badge.bg-danger,
.registered_table div#cell-7-1 .badge.bg-danger {
  background: #ffe5e5 !important;
  color: #ff6666;
}
.kits_row:empty {
  display: none;
}
.dashboard_cards div#chart {
  margin-bottom: -25px;
}
.dashboard_cards h2 {
  font-weight: bold;
}
.dashboard_cards {
  border-radius: 16px !important;
}
.dashboard_row {
  height: 611px;
}
.reported_incidents {
  height: 100%;
  border-radius: 16px !important;
}
.reported_incidents h4 {
  font-size: 20px;
  color: black;
}
.reported_incidents .card-body span {
  font-size: 16px;
  color: rgb(168, 168, 189);
  font-weight: 400;
  padding-bottom: 10px;
}
.report-chart-sec {
  height: 620px !important;
}
.product-management .rdt_TableCell {
  font-size: 16px;
}
@media (max-width: 1366px) {
  body .button-text {
    font-size: 15px;
    line-height: auto !important;
  }
  body .kits_row .icon-button svg {
    padding: 10px;
    width: 35px;
    height: 35px;
    background: #006aff;
    color: #fff;
    border-radius: 50%;
  }
}
@media (max-width: 1024px) {
  .sidebar {
    left: -50%;
    transition: left 0.5s ease-in-out;
    z-index: 999999;
  }
  .sidebar.active {
    left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
  }
  .main_container {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  .navigation .logout {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .sidebar {
    left: -70%;
    transition: left 0.5s ease-in-out;
    z-index: 999999;
  }
  .sidebar.active {
    left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%;
  }
  .wrapper .sidebar .navigation {
    overflow: scroll;
    padding-bottom: 35px;
  }
  .search {
    display: none !important;
  }
  .right_block_header {
    justify-content: space-between;
  }
  .top_btns .card {
    margin-bottom: 15px;
    padding: 15px;
  }
  .top_btns .card svg.icon {
    margin-right: 15px;
  }
  .right_block_header {
    justify-content: space-between;
    width: 100%;
  }
  .reports .col-md-4 .card {
    padding-top: 35px;
  }
  .resources_block.flex-nowrap {
    flex-wrap: wrap !important;
    flex-direction: column-reverse;
  }
  .img_details {
    padding-top: 20px;
  }
  .dashboard_cards.card {
    margin-bottom: 20px;
  }
  .dashboard-chart .bg-white {
    margin: 20px 0;
  }
  .report-chart-sec {
    margin-top: 20px !important;
  }
  .dashboard-chart .card {
    margin-top: 40px;
  }
  .top-btns {
    margin: 5px 0;
    width: 100%;
  }
  .kits_row {
    flex-wrap: wrap;
    width: 100%;
  }
}
/* ----- */
h5.percentage_number {
  left: 18px;
  position: absolute;
  bottom: 0px;
  color: rgba(66, 189, 83, 1);
  font-weight: 400;
  font-size: 16px;
}
.dashboard_cards h2 {
  padding-bottom: 10px;
}
.rdt_TableHead .rdt_TableCol:nth-child(2) .lnOUep {
  text-decoration: underline;
}
.rdt_TableCell div span.m-1.badge.bg-success,
.registered_table div#cell-7-1 .badge.bg-success {
  background: #d9f2dd !important;
  color: #359742;
}
.rdt_TableCell div span.m-1.badge.bg-warning,
.registered_table div#cell-7-1 .badge.bg-warning {
  background: #fff5cc !important;
  color: #cca300;
}
.registered_table div#cell-7-1 span {
  width: 100px;
}
.rdt_TableCell div span.m-1.badge.bg-danger,
.registered_table div#cell-7-1 .badge.bg-danger {
  background: #ffe5e5 !important;
  color: #ff6666;
}
.risk_assessment {
  /* background: red !important; */
  min-width: 85px;
}
.indicators {
  gap: 15px;
}
.indicators p {
  color: #a8a8bd;
}
.indicators p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}
.green_indictor span {
  background-color: #359742;
}
.yellow_indictor span {
  background-color: #cca300;
}
.red_indictor span {
  background-color: #ff6666;
}
.form-select {
  height: 50px;
}
.form-control {
  height: 50px;
}
.createlocation .phoneInput input {
  height: 50px;
  width: 100% !important;
}
.phoneinput input.form-control {
  width: 100% !important;
  height: 50px;
}
/* edit-notifications page  */
.notification_msg {
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  position: absolute;
  top: 90px;
  right: 20px;
  left: 20px;
}
.notification_msg .head_msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification_msg h5 {
  padding-top: 10px;
  margin-bottom: 0px;
}
.notification_msg p {
  color: #fff !important;
  margin-bottom: 0px;
}
.phone_card {
  position: relative;
}
/* slider business profile */
.slick-slide.slick-active + .slick-slide.slick-active {
  background: #e5f0ff;
}
.slick-slide.slick-active
  + .slick-slide.slick-active
  + .slick-slide.slick-active {
  background: transparent;
}
.map_bottom_text p {
  font-size: 13px;
  white-space: nowrap;
}
.right_text {
  width: 130px;
}
.top_map_text p {
  font-size: 14px;
  margin-bottom: 10px;
}
.reports_table .custom-pagination {
  justify-content: center;
  padding: 15px;
}
.kit-management div#cell-6-undefined {
  min-width: 155px;
}
.city_town p,
.house_street_name p {
  min-height: 42px;
}
.business_block .slick-prev:before,
.business_block .slick-next:before {
  color: #3bb7b4;
  font-size: 25px;
}
.business_block .slick-prev {
  left: 15px;
}
.business_block .slick-next {
  right: 15px;
}
.business_block .slick-arrow {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
/* data_table */
.table_block.mt-3 {
  overflow: auto;
  height: 300px;
}
.rdt_TableHead {
  position: sticky;
  top: 0px;
  background: #fff !important;
  z-index: 999;
}
.rdt_TableCell {
  font-size: 16px;
}
.rdt_Table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.product-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(4),
.product-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(4) {
  min-width: 400px;
  max-width: 400px;
}
.product-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(3),
.product-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) {
  min-width: 100px;
  max-width: 100px;
}
.rdt_TableRow {
  min-height: 94px !important;
}
/* --- */
.kits_row {
  padding: 4px 0px 20px 0px !important;
}
.companylogo img {
  object-fit: contain;
}
.dashbaord_table
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(2),
.dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(2) {
  min-width: 170px;
  max-width: 170px;
}
.dashbaord_table
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(4),
.dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(4) {
  min-width: 90px;
  max-width: 90px;
}
.dashbaord_table
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(5),
.dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(5) {
  min-width: 130px;
  max-width: 130px;
}
.dashbaord_table
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(6),
.dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(6) {
  min-width: 175px;
  max-width: 175px;
}
.dashbaord_table
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(7),
.dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(7) {
  min-width: 150px;
  max-width: 150px;
}
/* kit table */
.kit-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(3),
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) {
  min-width: 150px;
  max-width: 150px;
}
/* .kit-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(4),
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(4) {
  min-width: 200px;
  max-width: 200px;
} */
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(4) div {
  white-space: normal;
}
.kit-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(5),
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(5) {
  min-width: 150px;
  max-width: 150px;
}
.kit-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(7),
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(7) {
  min-width: 150px;
  max-width: 150px;
}
.kit-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(7)
  > div {
  justify-content: center;
}
.kit-management
  .rdt_Table
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol:nth-child(8),
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(8) {
  min-width: 150px;
  max-width: 150px;
}
/*end here kit table */
.product-management
  .rdt_TableBody
  .rdt_TableRow
  .rdt_TableCell:nth-child(4)
  div,
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(5) div,
.kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) div {
  white-space: pre-wrap;
  overflow: visible;
}
.custom-pagination button.btn.btn-light svg {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: -3px;
}
.right_content_wrapper .content_block.card {
  min-height: calc(100vh - 100px);
}
@media (min-width: 1400px) {
  .product-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(4),
  .product-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(4) {
    min-width: 530px;
    max-width: 530px;
  }
  .product-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(3),
  .product-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) {
    min-width: 130px;
    max-width: 130px;
  }
  .table_block.mt-3 {
    height: 550px;
  }
}
@media (min-width: 1500px) {
  .kit-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(3),
  .kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) {
    min-width: 180px;
    max-width: 180px;
  }
  .kit-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(5),
  .kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(5) {
    min-width: 150px;
    max-width: 150px;
  }
  .kit-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(7),
  .kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(7) {
    min-width: 100px !important;
  }
}
@media (min-width: 1550px) {
  .kit-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(7),
  .kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(7) {
    min-width: 150px !important;
    max-width: 150px;
  }
}
@media (min-width: 1920px) {
  .product-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(4),
  .product-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(4) {
    min-width: 1000px;
    max-width: 1000px;
  }
  .table_block.mt-3 {
    height: 580px;
  }
  .product-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(3),
  .product-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) {
    min-width: 200px;
    max-width: 200px;
  }
  .dashbaord_table
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(5),
  .dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(5) {
    min-width: 220px;
    max-width: 220px;
  }

  .dashbaord_table
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(6),
  .dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(6) {
    min-width: 200px;
    max-width: 200px;
  }
  .dashbaord_table
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(1),
  .dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(1) {
    min-width: 330px;
    max-width: 330px;
  }
}
@media (min-width: 1700px) {
  .product-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(4),
  .product-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(4) {
    min-width: 630px;
    max-width: 630px;
  }
  .table_block.mt-3 {
    height: 500px;
  }
  .dashbaord_table
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(2),
  .dashbaord_table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(2) {
    min-width: 282px;
    max-width: 282px;
  }
  .dashbaord_table .rdt_TableCell:first-child,
  .dashbaord_table .rdt_TableCol:first-child {
    min-width: 280px !important;
  }
}
@media (max-width: 1366px) {
  .table_block.mt-3 {
    height: 500px;
  }
  .kit-management
    .rdt_Table
    .rdt_TableHead
    .rdt_TableHeadRow
    .rdt_TableCol:nth-child(3),
  .kit-management .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) {
    min-width: 250px;
    max-width: 250px;
  }
}
/* sidebar
 */
.sidebar .navigation ul.nav-links li a:focus-visible {
  outline: none;
}
/* pagination */
.custom-pagination {
  justify-content: center !important;
  gap: 20px !important;
}
.create-user .custom_image {
  width: 100% !important;
  height: 270px !important;
  object-fit: contain !important;
}
.rdt_TableCol {
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.top-btns {
  width: auto;
}
.slick-slider.slick-initialized {
  overflow: hidden;
}
@media (min-width: 1600px) {
  .notification_msg {
    width: 255px;
    right: auto;
  }
}
.dashbaord_top_row {
  height: 690px;
}
.dashbaord_top_row .reported_incidents {
  height: 100%;
}
.dashbaord_top_row .report-chart-sec {
  height: 100% !important;
}
.dashbaord_top_row .map-container svg {
  height: 100%;
}
.dashbaord_top_row .map-container,
.dashbaord_top_row .reported_incidents {
  display: block;
  height: 100%;
}
.dashbaord_top_row .plus_minus_block {
  bottom: 82px;
}
/* - datepicker--- */
.react-datepicker {
  width: 100%;
}
.react-datepicker__time-container {
  width: 100px;
}
.react-datepicker__header.react-datepicker__header--has-time-select > *,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #fff !important;
}
/* - datepicker--- */
.row_modal .modal-dialog {
  max-width: 700px;
}
.bg_light {
  background-color: #f1f1f4 !important;
}
.text_gray_2 {
  color: #343a40;
}
body .phoneInput_2,
body .phoneInput_2 input.form-control {
  width: 100% !important;
}
body .phoneInput_2 input.form-control {
  height: 50px;
}
.report_widget {
  max-height: 800px;
  overflow-y: scroll;
}

input#formBasicDate {
  background-color: #ddd;
  text-align: center;
  max-width: 200px;
  margin-left: auto;
}

.date_picker {
  display: flex;
  flex-direction: row-reverse;
  max-width: 220px;
  max-height: 50px;
  align-items: start;
}
/* .date_picker button{
  height: 30px;
  line-height: 1.3;
}
.date_picker .year_section {
  width: 160px !important;

}
.month_section .MuiPickersMonth-root {
  flex-basis: 100%;
  line-height: 1.3;
  
}
 
.month_section {
  width: 150px !important;
  max-height: 275px;
  overflow-y: auto;
} */

.date_picker {
  display: flex;
  flex-direction: row-reverse;
  max-width: 220px;
  max-height: 80px;
}
.date_picker button {
  margin: 0;
  line-height: 1.3;
  height: 30px;
}
.date_picker .year_section {
  width: 120px !important;
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: none !important;
}
.year_section .MuiPickersYear-root {
  flex-basis: 100%;
  margin: 0;
  line-height: 1.3;
  height: 30px;
  scrollbar-width: none !important;
}
.month_section .MuiPickersMonth-root {
  flex-basis: 100%;
  margin: 0;
  line-height: 1.3;
  height: 30px;
  scrollbar-width: none !important;
}
.month_section {
  width: 120px !important;
  max-height: 100px;
  overflow-y: auto;
  scrollbar-width: none !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.MuiStack-root {
  scrollbar-width: none !important;
  padding-top: 0px !important;
  overflow: hidden !important;
  height: 80px;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-radius: var(--bs-border-radius) !important;
}
