body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .apexcharts-text tspan{
  display: none !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinner_border {
  height: 20px !important;
  width: 20px !important;
}
.text_gray {
  color: #c1bcbc;
}
li {
  list-style-type: none;
}

.cursor {
  cursor: pointer !important;
}

.dropdown_icon_style {
  position: absolute;
  top: 67px;
  z-index: 9999;
  left: 48px;
  cursor: pointer;
}

.dropdown_icon_style h6 {
  margin-bottom: 0 !important;
  font-size: 15px !important;
}

.eventboxdatausereventlisting {
  background-color: #ffffffd6;
  color: rgb(96, 96, 216);
  z-index: 999;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
}

.cutomspan_stylefor_sorting {
  text-decoration: underline;
  transition: all 0.3s linear;
}

.dGwfNg:hover {
  background-color: #e3f2fd !important;
}

.rdt_TableRow:hover {
  background-color: #e3f2fd !important;
}

.phoneinput {
  width: 100px !important;
}

.icon_setup_style {
  position: absolute;
  top: 144px;
  left: 227px;
}

/* custom qr code scanner button style */

div#reader__scan_region {
  display: none !important;
}

span#html5-qrcode-anchor-scan-type-change {
  display: none;
}

div#reader {
  border: none !important;
}

div#reader img {
  display: none !important;
}

div#reader button#html5-qrcode-button-camera-permission {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #a1d55d;
  margin-bottom: 20px;
  font-weight: 600;
}

span#html5-qrcode-anchor-scan-type-change {
  display: none !important;
}
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}